@charset "UTF-8";
@font-face {
font-family: "nidux-collection";
src: url(../fonts/nidux-collection.eot);
src: url(../fonts/nidux-collection.eot?#iefix) format("embedded-opentype"), url(../fonts/nidux-collection.woff) format("woff"), url(../fonts/nidux-collection.ttf) format("truetype"), url(../fonts/nidux-collection.svg#nidux-collection) format("svg");
font-weight: 400;
font-style: normal;
}
[data-icon]:before {
font-family: "nidux-collection"!important;
content: attr(data-icon);
font-style: normal!important;
font-weight: normal!important;
font-variant: normal!important;
text-transform: none!important;
speak: none;
line-height: 1;
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
}
[class^="ndx-icon-"]:before, [class*=" ndx-icon-"]:before {
font-family: "nidux-collection"!important;
font-style: normal!important;
font-weight: normal!important;
font-variant: normal!important;
text-transform: none!important;
speak: none;
line-height: 1;
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
}
.ndx-icon-turkey:before {
content: "\61"}
.ndx-icon-armchair-1:before {
content: "\62"}
.ndx-icon-hand-with-smartphone-and-wireless-internet:before {
content: "\63"}
.ndx-icon-hand-graving-smartphone:before {
content: "\64"}
.ndx-icon-stove:before {
content: "\65"}
.ndx-icon-suitcase:before {
content: "\66"}
.ndx-icon-suitcase-1:before {
content: "\67"}
.ndx-icon-bodysuit:before {
content: "\68"}
.ndx-icon-pacifier:before {
content: "\69"}
.ndx-icon-car:before {
content: "\6a"}
.ndx-icon-house:before {
content: "\6b"}
.ndx-icon-karaoke:before {
content: "\6c"}
.ndx-icon-holiday:before {
content: "\6d"}
.ndx-icon-cosmetics:before {
content: "\6e"}
.ndx-icon-improvement:before {
content: "\6f"}
.ndx-icon-gymnastics:before {
content: "\70"}
.ndx-icon-diamond:before {
content: "\71"}
.ndx-icon-computer:before {
content: "\72"}
.ndx-icon-birthday:before {
content: "\73"}
.ndx-icon-mobile-phone:before {
content: "\74"}
.ndx-icon-shirt:before {
content: "\75"}
.ndx-icon-headphones:before {
content: "\76"}
.ndx-icon-kite:before {
content: "\77"}
.ndx-icon-clothes:before {
content: "\78"}
.ndx-icon-house-1:before {
content: "\79"}
.ndx-icon-locked:before {
content: "\7a"}
.ndx-icon-map-1:before {
content: "\41"}
.ndx-icon-spotlight:before {
content: "\42"}
.ndx-icon-juice:before {
content: "\43"}
.ndx-icon-workplace:before {
content: "\44"}
.ndx-icon-roller-skate:before {
content: "\45"}
.ndx-icon-garden:before {
content: "\46"}
.ndx-icon-warning:before {
content: "\47"}
.ndx-icon-alarm-clock-1:before {
content: "\48"}
.ndx-icon-avatar-1:before {
content: "\49"}
.ndx-icon-unlocked-1:before {
content: "\4a"}
.ndx-icon-stopwatch-1:before {
content: "\4b"}
.ndx-icon-stopwatch-4:before {
content: "\4c"}
.ndx-icon-tablet:before {
content: "\4d"}
.ndx-icon-alarm-clock:before {
content: "\4e"}
.ndx-icon-user-5:before {
content: "\4f"}
.ndx-icon-user:before {
content: "\50"}
.ndx-icon-user-1:before {
content: "\51"}
.ndx-icon-print:before {
content: "\52"}
.ndx-icon-smartphone-5:before {
content: "\53"}
.ndx-icon-smartphone-7:before {
content: "\54"}
.ndx-icon-television-1:before {
content: "\55"}
.ndx-icon-office-telephone:before {
content: "\56"}
.ndx-icon-phone-chat:before {
content: "\57"}
.ndx-icon-smartphone-with-globe-grid:before {
content: "\58"}
.ndx-icon-smartphones-couple:before {
content: "\59"}
.ndx-icon-tower-transmissions:before {
content: "\5a"}
.ndx-icon-shoes-snickers-streamline:before {
content: "\30"}
